<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>

<main role="main">
    <div class="container">
        <div class="row justify-content-center my-auto">
            <div class="col-md-6 py-4">
                <div class="card card-outline-secondary">
                    <div class="card-header text-center text-primary">
                        <h5 class="display-4 font-weight-bold">Create Author</h5>
                    </div>

                    <div class="card-body">
                        <form class="form" role="form" th:replace="~{fragments/author-form :: authorForm}"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
