<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 py-4">
                <div class="row mx-auto justify-content-between mb-3">
                    <h1 class="font-weight-bold text-center">Author List</h1>
                    <div class="row align-items-center">
                        <a href="#" th:href="@{/admin/authors/author/add}" class="link-hover breadcrumb-item text-secondary font-weight-bold mr-2"><i class="fas fa-plus"> Add Author</i></a>
                        <a class="breadcrumb-item"></a>
                        <a href="#" th:href="@{/user/authors}"  class="link-hover text-success font-weight-bold ml-2 mr-5">
                            <i class="fas fa-eye">View As user</i></a>
                    </div>


                </div>
                <div th:replace="~{fragments/authorTable :: authorTable}"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>