<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">

    <ol class="breadcrumb mt-1">
        <li class="breadcrumb-item"><a href="#" th:href="@{/home}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>

    <div class="row row-cols-1 row-cols-xs-3 row-cols-sm-4 row-cols-lg-6 mx-auto g-3 py-3">
        <div class="col-md-4" th:if="${categories.isEmpty()}">
            <div class="alert alert-warning" role="alert">
                No Category Defined Yet
            </div>
        </div>

        <div class="col mb-3" th:each="category :${categories}">
            <div class="card h-100 shadow-sm">
                <a href="#" th:if="${category.imageUrl == ''}" th:href="@{'/images/category_'+${category.id}+'.png'}">
                    <img th:if="${category.imageUrl == ''}"
                         th:src="@{'/images/category_'+${category.id}+'.png'}" class="img-fluid card-img-top" alt="...">
                </a>

                <a href="#" th:if="${category.imageUrl != ''}" th:href="@{${category.imagePath}}">
                    <img th:if="${category.imageUrl != ''}" th:src="${category.imagePath}" class="img-fluid card-img-top"
                         alt="...">
                </a>
                <hr class="solid mt-1">
                <div class="card-body d-flex flex-column">
                    <h5 th:text="${category.name}"></h5>
                    <p class="card-text text-justify text-overflow" th:text="${category.description}"></p>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html>