<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form th:fragment="bookForm" action="#" th:action="@{/admin/books/book/add}" th:object="${book}" method="post"
      enctype="multipart/form-data" class="form form-signin">

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="name">Book Name</label>
            <input id="name" type="text" class="form-control" th:field="*{name}" placeholder="Enter Book's Name"
                   required>
        </div>

        <div class="col-md-6 mb-3">
            <label for="publishedDate">Published Date</label>
            <div class="input-group date">
                <input type="date" class="form-control" id="publishedDate" autocomplete="off"
                       th:field="*{publishedDate}"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="author">Author</label>
            <select th:field="*{author}" id="author" class="form-select col">
                <option th:each="author :${authors}" th:text="${author.name}" th:value="${author.id}">

                </option>
            </select>
        </div>


        <div class="col-md-6 mb-3">
            <label for="category">Category</label>
            <select th:field="*{category}" id="category" class="form-select col">
                <option th:each="category :${categories}" th:text="${category.name}" th:value="${category.id}">

                </option>
            </select>
        </div>

    </div>


    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="price">Price</label>
            <input th:field="*{price}" type="text" id="price" class="form-control"
                   placeholder="Enter Book's Price" required>
        </div>


        <div class="col-md-6 mb-3">
            <label for="rate">Rate</label>
            <input th:field="*{rate}" type="text" id="rate" class="form-control"
                   placeholder="Enter Book's Rate" required>
        </div>

    </div>


    <div class="col-md-12 mb-3">
        <label for="image">Image Url</label>
        <input th:value="${bookImage}" type="file" id="image"  value="bookImage" name="bookImage" class="form-control"
               accept="image/png, image/jpeg">
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="description">Description</label>
            <textarea th:field="*{description}" rows="7" type="text" id="description" name="name" class="form-control"
                      placeholder="Enter Book's Description" required/>
        </div>


        <div class="col-md-12 mb-3">
            <label for="content">Content</label>
            <textarea th:field="*{content}" rows="7" type="text" id="content" name="name" class="form-control"
                      placeholder="Enter Book's Description" required/>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <button type="submit" class="btn btn-primary btn-block py-2 ">Save</button>
    </div>

</form>
</body>
</html>