<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<table th:fragment="categoryTable" class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category:${adminCategories}">


        <td th:if="${category.imageUrl != ''}">
            <a href="#" th:href="@{${category.imagePath}}">
                <img class="circle-image" src="#" th:src="${category.imagePath}"></a>
        </td>

        <td th:if="${category.imageUrl == ''}">
            <a href="#" th:href="@{'/images/category_'+${category.id}+'.png'}">
                <img class="circle-image" src="#" th:src="@{'/images/category_'+${category.id}+'.png'}"></a>
        </td>
        </td>
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
        <td>
            <a href="#" th:href="@{'/admin/categories/category/delete/'+ ${category.id}}" type="button"
               class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
            <a href="#" th:href="@{'/admin/categories/category/update/'+ ${category.id}}" type="button"
               class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>