<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="text-center text-white bg-dark">
    <div class="col-md-12">
        <div class="row justify-content-between">
            <div class="col-md-5 py-2">
                <iframe width="600" height="315" src="https://www.youtube.com/embed/Xxp_z4Vk1CU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            <div class="col-md-3 py-2">
                <h2 class="py-4">Java Developer Class</h2>
                <h5 class="text-justify  py-2 text-white"><i class="fa fa-envelope mr-3"></i>Email : jdc.onelineshop@gmail.com</h5>
                <h5 class="text-justify  py-2 text-white"><i class="fas fa-map-marker-alt mr-3"></i> Address : Yangon (Myanmar)</h5>
                <h5 class="text-justify  py-2 text-white"><i class="fas fa-phone mr-3"></i>Phone : +959 123456789</h5>


            </div>


            <div class="col-md-4 py-3">

                <div class="card">
                    <div class="card-header bg-dark text-center text-primary">
                        <h5 class="text-white display-4 font-weight-bold">Contact</h5>
                    </div>

                    <div class="card-body bg-dark">
                        <form role="form" class="form-signin" method="post">
                            <div class="form-group py-1">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-white bg-dark"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input type="email" id="email" name="email" class="form-control text-white bg-transparent"
                                           placeholder="Enter Email Address" required>
                                </div>
                            </div>

                            <div class="form-group py-1">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-dark text-white"><i class="fas fa-pen"></i></i></span>
                                    </div>
                                    <textarea class="form-control bg-transparent text-white" placeholder="Enter Content"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block shadow-sm">Send
                            </button>

                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Java Developer Class</a>
        </div>

    </div>

</footer>

</html>