<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="navigation">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">

        <a href="#" th:href="@{/home}" class="navbar-brand">
            <h2><i class="fas fa-store"></i> Book Store</h2>
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-item">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-item">
            <ul class="navbar-nav ml-auto">

                <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.imageUrl == ''}">
                    <a href="#" th:href="@{/images/user.png}">
                        <img class="circle-image"  src="../../static/images/user.png" th:src="@{/images/user.png}"
                             height="49" width="49"/></a>
                </li>

                <li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.imageUrl != ''}">
                    <a href="#" th:href="@{${#authentication.principal.imagePath}}">
                        <img class="circle-image" th:src=" @{${#authentication.principal.imagePath}}"
                             height="49" width="49"/></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" th:href="@{/home}" class="nav-link"><span class="text-white font-weight-bold"
                            sec:authentication="principal.name"></span></a>
                </li>
                <li class="nav-item px-3 py-2 position-relative d-lg-flex" sec:authorize="isAuthenticated()">
                    <a href="#" th:href="@{/carts}" class="cart position-relative d-inline-flex"
                       aria-label="Cart Item">
                        <i class="fas fa fa-shopping-cart"></i>
                        <span class="cart-basket d-flex align-items-center justify-content-center" th:text="${session.itemCount}"></span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/home}" class="nav-link" sec:authorize="isAuthenticated()">Home</a>
                </li>
                <li>
                    <a href="#" th:href="@{/admin/categories}" class="nav-link" sec:authorize="hasRole('ADMIN')">Category</a>
                </li>
                <li>
                    <a href="#" th:href="@{/user/categories}" class="nav-link" sec:authorize="hasRole('USER')">Category</a>
                </li>
                <li>
                    <a href="#" th:href="@{/admin/authors}" class="nav-link" sec:authorize="hasRole('ADMIN')">Author</a>
                </li>
                <li>
                    <a href="#" th:href="@{/user/authors}" class="nav-link" sec:authorize="hasRole('USER')">Author</a>
                </li>

                <li>
                    <a href="#" th:href="@{/admin/books}" class="nav-link" sec:authorize="hasRole('ADMIN')">Book</a>
                </li>

                <li>
                    <a href="#" th:href="@{/user/books}" class="nav-link" sec:authorize="hasRole('USER')">Book</a>
                </li>

                <li>
                    <a href="#" th:href="@{/login}" class="nav-link" sec:authorize="isAnonymous()">Login</a>
                </li>
                <li>
                    <a href="#" th:href="@{/register}" class="nav-link" sec:authorize="isAnonymous()">Register</a>
                </li>


                <li>
                    <a href="#" th:href="@{/logout}" class="nav-link" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</header>
</html>